<h1>Enter phrase:</h1>
<form action="/display">
  <div class="form-group">
    <label for="phrase">Phrase</label>
    <input id="phrase" name="phrase" class="form-control" type="text">
  </div>


<h2>Enter word to find:</h2>
<div class="form-group">
  <label for="find">Word to find:</label>
  <input id="find" name="find" class="form-control" type="text">
</div>

<h2>Enter word to replace:</h2>
<div class="form-group">
  <label for="replace">Word to replace:</label>
  <input id="replace" name="replace" class="form-control" type="text">
</div>
<button type="submit" class="btn">Go!</button>
</form>
